/* KasaLogo styles.module.scss */

@import '../../../styles/variables';

.star {
    &Fill {
        width: 23px;
        aspect-ratio: 1/1;
        fill: $primary_color;
        @media only screen and (max-width: 980px) {
            width: 14px;
        }
    }

    &Empty {
        width: 23px;
        aspect-ratio: 1/1;
        fill: $cls_empty_star;
        @media only screen and (max-width: 980px) {
            width: 14px;
        }
    }
}