/* Header styles.module.css */

@import '../../styles/variables';

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    &__nav{
        display: flex;
        gap: $gap_nav;
        font-family: $mst-med;
        font-size: $fs_nav;
        @media only screen and (max-width: 980px){
            gap: $gap_mob_nav;
            font-size: $fs_mob_nav;
            text-transform: uppercase;
        }
        }
}